
body{
  background:white;
}
#navbar{
  /* 70C1B3 */
  /* background-color: rgb(255, 107, 107); */
  /* background-color: #FF5964; */
  /* background-color: #FAD46B ; */
  background-color: #70c1b3;
  color: white;
  /* box-shadow: inset 0 0 5px #000000; */
}

#navbar a{
  color: white
  /* color: black; */
}

#jumbotron{
  background-image:url('./img/ladypaint.jpg') ;
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* object-fit: fill; */
  /* opacity: 0.7; */
  background-position: top;
  background-blend-mode: multiply;
  padding-bottom: 20rem;
}

/* linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), */

#signin-btn{
  /* border: solid #70C1AA 2.5px; */
  border: solid #F84545 2.5px;
  /* background: white; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#signin-form{
  width: 15rem;
  margin: auto;
  margin-top: 3rem;
}
#homepage-logo{
  padding-bottom: 0.8rem;
  font-size: 1.6rem;
}
#local-artist{
  font-size: 2.3rem;   
  font-weight: 700;
  width: 22rem;
 line-height: 2.9rem;
}
#view-gallery{
  font-size: 1.3rem;
}
.homepage-gallery-text{
  padding-top: 6rem;
  padding-left: 5rem;
}
.form{
  width: 15rem;
  margin: auto;
  margin-top: 5rem;
 
}
#zip-input{
  height: 1.8rem;
}
#zip-button{
  padding: .1rem;
    /* background: #F25F5C; */
    background: #F84545;
}
.footer{
  /* background: #38618C; */
  background-color: #70c1b3;
  padding: 5rem;
  /* background: #FAD46B; */
   /* background: rgb(255, 107, 107); */
}
#main{
  min-height: 100vh;
 
}

#card-img{
  /* background: wheat; */
      background-image: url('./img/headshot.png');
     /* margin: auto; */
      height: 10rem;
      margin-left: 2rem;
      border-radius: 99px;
      width: 13rem
}
.card{
  width: 18rem;
  margin-top: 10rem;
  padding-top: 4rem;
  padding-bottom: 1.5rem;
  /* background-color: #F8F8F8; */
  box-shadow: 3px 5px 9px 3px lightgrey;
  width: 16rem;
  height: 28rem;
}
/* .card:hover {
  transform: scale(1.3); 
} */
.update-form{
  width: 15rem;
  padding-bottom: 3rem;
}
.update-form-wrapper{
  width: fit-content; 
  padding-left: 3rem;
}
#profile-pic{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: coral solid;
  padding: 3px;
}
/* ==== home page ==== */
.logo-home{
  width:7rem;
  height: auto;
}

/* ======= dashboard ====== */

/* .profile-header{
  text-align: center;
}
.first-col{
  padding-top:5%;
}
.profile-header li{
  list-style: none;
} */

