
body{
  background:white;
}
/* website font */
.kavoon{
  font-family: 'Kavoon', cursive;
}

.navbar-logo{
  font-family: 'Kavoon', cursive;
  font-size: 1.5em;
}
#navbar{

  background-color: #70c1b3;
  color: white;
  /* position: absolute;
  top: 0; */
  width: 100%;
  /* box-shadow: inset 0 0 5px #000000; */
}
#navbar a{
  color: white
}

#jumbotron{
  background-image:url('./img/ladypaint.jpg') ;
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* object-fit: fill; */
  /* opacity: 0.7; */
  background-position: top;
  background-blend-mode: multiply;
  padding-bottom: 20rem;
}

/* linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), */


#signin-form{
  width: 15rem;
  margin: auto;
  margin-top: 3rem;
}
#homepage-logo{
  padding-bottom: 0.8rem;
  font-size: 1.6rem;
}
#local-artist{
  font-size: 2.3rem;   
  font-weight: 700;
  width: 22rem;
 line-height: 2.9rem;
}
#view-gallery{
  font-size: 1.3rem;
}
.homepage-gallery-text{
  padding-top: 6rem;
  padding-left: 5rem;
}
.form{
  width: 15rem;
  margin: auto;
  margin-top: 5rem;
 
}
#zip-input{
  height: 1.8rem;
}
#zip-button{
  padding: .1rem;
    /* background: #F25F5C; */
    background: #F84545;
}
.footer{
  /* background: #38618C; */
  background-color: #70c1b3;
  padding: 5rem;
  /* background: #FAD46B; */
   /* background: rgb(255, 107, 107); */
}
#main{
  min-height: 100vh;
 
}

#card-img{
  /* background: wheat; */
      background-image: url('./img/headshot.png');
     /* margin: auto; */
      height: 10rem;
      margin-left: 2rem;
      border-radius: 99px;
      width: 13rem
}

/* .card{
  width: 18rem;
  margin-top: 10rem;
  padding-top: 4rem;
  padding-bottom: 1.5rem;

  box-shadow: 3px 5px 9px 3px lightgrey;
  width: 16rem;
  height: 28rem;
} */
/* .card:hover {
  transform: scale(1.3); 
} */
.update-form{
  width: 15rem;
  padding-bottom: 3rem;
}
.update-form-wrapper{
  width: fit-content; 
  padding-left: 3rem;
}

/* ==== home page ==== */
#navbar-toggler-border {
   border-color: #F84545;
}

#signin-btn{
  /* border: solid #70C1AA 2.5px; */
  border: solid #F84545 2px;
  /* background: white; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color:white;
  width: 7em;
  -webkit-border-radius:4em;
  border-radius: 4em;
  font-weight: 800;
}
#signin-btn:hover{
  background: #F84545;
}
.logo-home{
  width:7rem;
  height: auto;
}
.background{
  height: 32rem;
  background-image: url('./img/ladypaint.jpg');
  background-size: cover;
  background-position: center;
  background-color: white;
  /* background-position-y: inherit; */
  background-position-y: -2rem;
  transform: scaleX(-1);
 
}
#background-color{
  background: black;
  height: 100%;
  width: 100%;
  opacity: .56;
}

#home-nav{

 transform: scaleX(-1);
 color: white;
 position: absolute;
 top: 0;
 width: 100%;
 background: none;
  /* box-shadow: inset 0 0 5px #000000; */
}

#home-nav a{
  color: white
  /* color: black; */
}
.home-heading-title{
  position: absolute;
  top:10rem;
  right:5rem;
  color:white;
}
.home-heading-p{
  width: 33rem;
}
/* ======= dashboard ====== */

.dash-side-bar{
  padding: 1em;
  color: grey;
}
.sidebar{
  height: 100vh;
}
#sidebar{
  position: fixed;
}
.profile-div{
  padding-top: 3em;
  text-align: center;
}
.profile-div h5{
  font-size: 2.2em;
  padding-top: 0.5em;
}
.profile-div p{
  font-size: larger;
}
#profile-pic{
  width: 13rem;
  height: 14rem;
  border-radius: 50%;
  border: coral solid;
  padding: 3px;
}
